.products-heading {
  color: #262626;
  font-size: 28px;
  font-family: "Roboto";
}
.products-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
.products-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  list-style-type: none;
  width: 50%;
  text-decoration: none;
}
@media all and (min-width: 1200px) {
  .products-item {
    width: 230px;
  }
}
@media all and (min-width: 556px) {
  .products-item {
    width: 33%;
  }
}

.products-image {
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.products-name {
  color: #171f46;
  font-size: 19px;
  font-family: "Roboto";
}
.product-price {
  color: #171f46;
  font-size: 15px;
  font-family: "Roboto";
}
@media all and (min-width: 556px) {
  .products-item {
    width: 33%;
  }
  .products-image {
    height: 70px;
    width: 70px;
  }
  .products-name {
    font-size: 18px;
  }
}
@media all and (min-width: 788px) {
  .products-image {
    height: 110px;
    width: 110px;
    margin-bottom: 14px;
  }
  .products-name {
    font-size: 20px;
  }
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity-controller-icon {
  color: #616e7c;
  width: 10px;
  height: 10px;
}

.quantity {
  color: #616e7c;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  margin-left: 6px;
  margin-right: 6px;
}

.button {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  max-height: 25px;
  min-height: 25px;
  width: 88px;
  outline: none;
  cursor: pointer;
}

.add-to-cart-btn {
  font-size: 10px;
  margin-bottom: 6px;
}
